<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update TimeTable</title>
</head>
<body>
	<form th:method="PUT" th:action="@{/timetables/{id}(id=${timetable.getId()})}" th:object="${timetable}">
		<label for="date">Enter date:</label>
		<input type="date" required pattern="\d{4}-\d{2}-\d{2}"
			th:field="*{date}" id="date" />
		 <br />
		 <label for="startTime">Update start time:</label>
        <input type="time"
            th:field="*{startTime}" id="startTime" />
         <br />
         <label for="endTime">Update end time:</label>
        <input type="time"
            th:field="*{endTime}" id="endTime" />
         <br />
		 <label for="groupName">Select group name:</label>
         <select th:field="*{group}" id="groupName">
            <option th:each="group: ${groups}" th:value="${group.id}"
                th:text="${group.getGroupName()}">Group</option>
        </select>
        <br />
         <label for="courseName">Select course name:</label>
         <select th:field="*{course}" id="courseName">
            <option th:each="course: ${courses}" th:value="${course.id}"
                th:text="${course.getCourseDescription()}">Course</option>
        </select>
        <br />
         <label for="teacher">Select teacher:</label>
        <select th:field="*{teacher}" id="teacher">
            <option th:each="teacher: ${teachers}" th:value="${teacher.id}"
                th:text="${teacher.getLastName()} + ' ' + ${teacher.getFirstName()}">Teacher</option>
        </select>
        <br />
		 <input
			type="submit" value="Update" />
	</form>

</body>
</html>




